@import 'nib'

@import './settings'

// This stylesheet makes some global
// style definitions which are not layout related

body
  font-family font-sans
  margin 0
  padding 0
  touch-callout none
  user-select none
  cursor default

*
  box-sizing border-box
  -webkit-tap-highlight-color transparent

button
  cursor pointer
  &:disabled
    cursor default

svg
  max-height 100%

img, canvas, svg
  max-width 100%
  height auto

.leftPane
  position absolute
  top 0
  left 0
  height 100%
  width 65%

.rightPane
  position fixed
  top 0
  right 0
  height 100%
  width 35%
  border-left 1px solid #333333

.leftPane
.rightPane
  &:empty
    display none

