@import 'nib'

@import './settings'
@import './helpers'

// This stylesheet makes some global
// style definitions which are not layout related

body
  font-family font-sans
  margin 0
  padding 0
  touch-callout none
  user-select none
  -moz-user-select -moz-none // needed for firefox 18
  // https://bugzilla.mozilla.org/show_bug.cgi?id=816298
  cursor default

input,
textarea,
[contenteditable]
  user-select text

*
  box-sizing border-box
  -webkit-tap-highlight-color transparent

button
  cursor pointer
  &:disabled
    cursor default

  &::-moz-focus-inner
    border: 0

button
input
textarea
select
  font-family inherit
  font-size 1em

svg
  max-height 100%

img, canvas, svg
  max-width 100%
  height auto

.svg-icon
  display inline-block
  margin 0
  padding 0
  width 100%
  height 100%
  max-width 100%
  max-height 100%
  outline none


.export-text
  white-space pre
  word-wrap normal
  font-family monospace
  font-size 14px
  line-height 1.3
  display block
  width 100%
  max-width 100%
  padding 0.5em
  min-height 15em
  outline none
  border 2px solid color-background-secondary

.export-text-single
  width 100%
  white-space pre
  word-wrap normal
  font-family monospace
  font-size 14px
  line-height 1.3
  padding 0.5em
  outline none
  border 2px solid color-background-secondary

.block-list
  list-style none
  margin 0
  padding 0

  &.style-small
    max-height 200px
    overflow-y auto
    border 2px solid color-background-inverse-weak
    padding space(0.3)

  > li
    display block
    padding space(0.2) 0

.block-button
  display block
  text-align left
  width 100%
  border 3px solid transparent
  outline none
  padding (button-size / 4)
  line-height (button-size / 2)
  background-color color-background-primary-weak
  color color-foreground-primary
  cursor pointer
  transition background-color 0.1s 0s ease-out

  &:hover
    background-color lighten(color-background-primary-weak, 15%)
  &:active
    background-color darken(color-background-primary-weak, 5%)
  &:focus
    border-color color-focus

.block-button-dark
  margin space(0.5)
  display block
  text-align left
  border 3px solid transparent
  outline none
  padding (button-size / 8)
  line-height (button-size / 2)
  background-color color-background-inverse-weak
  color color-foreground-inverse
  cursor pointer
  transition background-color 0.1s 0s ease-out

  &:hover
    background-color lighten(color-background-inverse-weak, 15%)
  &:active
    background-color darken(color-background-inverse-weak, 5%)
  &:focus
    border-color color-focus

