@import 'jeet'
@import 'rupture'
@import 'nib'

@import './settings'

body
  font-family sans-serif
  margin 0
  padding 0
  touch-callout none
  user-select none
  cursor default
  background #f9f9f9
  +below(500px)
    background #e9e9e9

*
  box-sizing border-box

button
  cursor pointer

img, canvas, svg
  max-width 100%
  height auto
