@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600')

font-sans = 'Open Sans', sans-serif
color-dark = #2A2A2A
color-light = #F2F2F2
color-dark-x = #222
color-light-x = #fff
color-dark-s = #333
color-light-s = #eee
color-dark-xs = #666
color-light-xs = #ccc

*
  box-sizing border-box

body
  padding 0
  margin 0
  font-family font-sans
  background-color #F2F2F2

a
button
  cursor pointer

button
input
textarea
select
  font-family inherit
  font-size 1em

.application
  font-size 11pt

.stack
  display flex
  flex-flow row wrap
  align-items center
  justify-content space-around

.stack-item
  min-width 33%
  display flex
  flex-flow row nowrap
  align-items flex-start
  justify-content space-around

.bar
  overflow hidden
  padding 4px

.bar-dark
  background-color color-dark
  color color-light

.button
  display inline-block
  border none
  padding 0.3em 1em
  background-color transparent
  border 1px solid transparent
  height 2.5em
  line-height 1
  outline none

.button-toggle
  &.state-active
    font-weight 600

.button-dark
  background-color color-dark-s
  color color-light-s
  border-color color-dark
  &.button-toggle
    background-color color-dark
    color color-dark-xs
    &.state-active
      color color-light

.button-light
  background-color color-light-s
  color color-dark-s
  border-color color-light-s
  &.button-toggle
    color color-dark-xs
    &.state-active
      background-color color-light-x
      color color-dark-s

.button-group
  display flex
  flex-flow row nowrap
  align-items center
  justify-content space-around
  padding 2px

.button-group-dark
  background-color color-dark-x

.inline-list
  display flex
  flex-flow row wrap
  align-items center
  justify-content flex-start
  background-color none
  margin 0 20px
  padding 4px 0
  list-style none

.inline-list-item
  padding 2px

.well
  display block
  width 28px
  height 28px


.align-space
  justify-content space-between
.align-start
  justify-content flex-start
.align-end
  justify-content flex-end
