// This file defines some common colors and styles
// to be used in all other file definitions to achieve
// a consistent look across components

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600')

font-sans = 'Open Sans', sans-serif

font-size-big = 22px
font-size-medium = 18px
font-size-default = 12px
font-size-small = 10px

font-bold = 600

color-background-primary  = #FFFFFF
color-background-primary-weak  = #E6E6E6
color-background-primary-strong  = #FFFFFF

color-background-secondary  = #C8C8C8
color-background-secondary-weak  = #E6E6E6
color-background-secondary-strong  = #7F7F7F

color-background-inverse  = #363636
color-background-inverse-weak  = #2E2E2E
color-background-inverse-strong  = #222222

color-background-highlight = #00AB6C

color-foreground-primary  = #000000
color-foreground-primary-weak  = #000000
color-foreground-primary-strong  = #000000

color-foreground-secondary  = #E4E4E4
color-foreground-secondary-weak  = #E4E4E4
color-foreground-secondary-strong  = #E4E4E4

color-foreground-inverse  = #F0F0F0
color-foreground-inverse-weak  = #A5A5A5
color-foreground-inverse-strong  = #FFFFFF

color-foreground-highlight = #fff

color-danger = #5D0000
color-failure = #5D0000
color-success = #005D00
color-focus = #1AC0CF

button-size = 36px
button-size-small = 30px
