@import '../../styles/global'

.numberButton
  vertical-align middle
  font-size 1.6em
  margin 0
  padding 1px 3px 5px 3px
  font-weight bold
  border-radius 50%
  width 1.3em
  height 1.3em
  line-height 1
  background-color #333
  border none
  color #ccc
  outline none
  box-sizing content-box
  transition background-color 0.3s ease-out, color 0.3s ease-out

.numberButton:disabled
  color #bbb
  background-color #888
  cursor default

.numberButton:enabled:active
  color #aaa
  background-color #222
  transition none

.button-big
  margin-top 2em
  padding 0.7em 1em
  min-width 6em
  font-size 1em
  color #fff
  border none
  background-color #555
  border-radius 10em
  outline none

.button-big:active
  background-color #333


.button-help
  display block
  position absolute
  right 2em
  top 1.2em
  width 3em
  height 3em
  font-size 1em
  color #fff
  border none
  background-color #ccc
  border-radius 10em
  outline none
  text-indent -999px
  direction ltr
  overflow hidden

  &::after
    position absolute
    font-size 2em
    top 0
    left 0
    right 0
    display block
    content '?'
    text-indent 0
    text-align center
    line-height 1.5em

.button-help:active
  background-color #bbb

.help-list
  li
    padding 0.4em 0

.toolbar
  margin 1.5em 0
  text-align center

.inline-list
  list-style none
  padding 0
  margin 1em 0 0.5em

.inline-list > li
  display inline
  margin 0 0.2em
  float left

.loop-list
  display flex
  align-items center top
  justify-content center
  background-color #333
  color #fff

.toolbar-title
  display inline-block
  padding 1.6em 1em

.toggle-button
  font-family inherit
  color white
  line-height 1
  vertical-align bottom
  border 0
  font-size 1em
  display inline-block
  margin 0.8em 0
  padding 0 1em 0.7em
  background-color #2a2a2a
  text-align center
  position relative
  cursor pointer
  -webkit-appearance none
  outline none

  &:active
    background-color #202020

  .toggle-button-state
    display none
    pointer-events none
    &.state-active
      display block

  &::after
    content 'Mode'
    color #666
    text-align center
    font-size 0.6em
    position absolute
    bottom 0.7em
    left 0
    right 0


.well
  display block
  padding 0
  border-radius 30%
  height 2.5em
  width 2.5em
  line-height 1.5em
  font-size 0.9em
  border 5px solid rgba(45,45,45,1)
  background-color darkgrey
  outline none
  color rgba(30,30,30,0.4)
  text-align center

.well.state-active
  border-color rgba(255,255,255,0)
  box-shadow 0 0 2px rgba(40,40,40,0.5)

.well:active
  background-color darkgrey
  border-color rgba(0,0,0,0.05)

.well-add
  background-color #444
  color #ccc
  font-weight bold
  text-indent -9999px
  overflow hidden
  direction ltr
  position relative

.well-add::before
  left 0
  right 0
  top 0
  bottom 0
  vertical-align middle
  position absolute
  content '+'
  line-height 1.7em
  text-indent 0
  display block
  text-align center

.well-add:active
  background-color #222

.well-delete
  position relative
  top -2.6em
  margin-bottom -1em
  margin-right 1em
  right -1.2em
  font-size 1.2em
  position relative
  width 1.1em
  height 1.1em
  text-indent -999px
  overflow hidden
  direction ltr
  border-radius 500px
  border none
  margin-top 5px
  background-color rgba(20,20,20,1)
  color #aaa
  outline none
  font-weight bold

.well-delete
  display none

.well.state-active + .well-delete
  display block

.well-delete::before
  font-size 0.5em
  position absolute
  top 0
  left -0.1em
  right 0
  top 0
  display block
  text-align center
  vertical-align middle
  text-indent 0
  content 'X'
  line-height 2.2em

.well-delete:active
  background-color rgba(0,0,0,1)
  color #999

.output-list
  margin-bottom 2em
  display flex
  align-items center top
  justify-content center
  background-color #eee
  color #555
  .toolbar-title
    padding 0.6em 0
  .inline-list
    margin 0.4em

.pill
  cursor pointer
  display block
  border none
  height: 2.4em
  background-color #ddd
  color #333
  font-size 8pt
  line-height 20pt
  padding 0 1em
  outline none
  border-radius 10em

  &.state-active
    cursor default
    background-color #ccc
    font-weight bold

  .pill-delete
    border-radius 10em
    display block
    border none
    background-color #aaa
    text-indent -999px
    direction ltr
    height 16pt
    width 16pt
    margin 1.5pt 0
    padding 0
    margin-right -6.5pt
    margin-left 8pt
    font-size 1pt
    font-weight bold
    text-align center
    color #fff
    display inline-block
    outline none
    line-height 5pt
    vertical-align top
    overflow hidden
    text-transform lowercase
    position relative

    &:hover
      background-color #E33A39
      color #fff
    &:active
      background-color #c30A19

    &::after
      text-indent 0
      font-size 12pt
      margin-top -6pt
      line-height 12pt
      content: '×'
      absolute top 50% left 0
      width 100%
      height 100%
      vertical-align middle

.debug-panel
  height 1em
  margin 0
  text-align center
  font-family monospace
  font-size 1.3em
  color #0099DD

.scroller
  max-width 100%
  overflow scroll

.scoller-inner
  margin-bottom 5em
  display flex
  align-items center
  justify-content center
  min-width min-content
  min-height min-content

.input-count
  padding 0 1em
  font-size 1.3em
  font-weight bold
  line-height 1
  vertical-align middle
  position relative
  margin-bottom 1em

.input-count::after
  position absolute
  top 100%
  left 0
  right 0
  content attr(data-label)
  font-weight normal
  font-size 0.65em
  opacity 0.7

.kv-container
  float left
  position relative

.kv-loops-container
  position absolute
  left -4px
  right -4px
  top -4px
  bottom -4px
  margin 5px
  text-align center
  vertical-align middle
  font-size 2em
  font-weight bold
  color rgba(200,0,55,0.4)
  z-index 1
  pointer-events none
  line-height 150px

.kv-loop
  position absolute
  border 6px solid grey
  border-radius 15px
  margin 3px

.kv-loop-edge-top
  border-top-left-radius 0
  border-top-right-radius 0
  border-top-style dotted
  border-top-width 3px


.kv-loop-edge-bottom
  border-bottom-left-radius 0
  border-bottom-right-radius 0
  border-bottom-style dotted
  border-bottom-width 3px

.kv-loop-edge-left
  border-top-left-radius 0
  border-bottom-left-radius 0
  border-left-style dotted
  border-left-width 3px

.kv-loop-edge-right
  border-top-right-radius 0
  border-bottom-right-radius 0
  border-right-style dotted
  border-right-width 3px

.kv-table
  table-layout fixed
  border-spacing 5px
  border-collapse separate

.kv-cell-atom
  vertical-align middle
  text-align center
  background-color lightgrey
  cursor default
  position relative
  font-size 1.7em
  font-weight bold


// .kv-cell-atom:hover
//   background-color #c9c9c9

.kv-cell-atom:active
  background-color #c0c0c0

.kv-mode-dnf
  .kv-cell-atom:not([data-kv-value='true'])
    color grey
  .kv-cell-atom[data-kv-value='false']
    font-weight normal

.kv-mode-knf
  .kv-cell-atom:not([data-kv-value='false'])
    color grey
  .kv-cell-atom[data-kv-value='true']
    font-weight normal

.kv-cell-atom::before
  content attr(data-kv-offset)
  position absolute
  right 5%
  top 5%
  color rgba(255,255,255,0.8)
  font-size 0.5em
  z-index 0
  border-radius 2px
  pointer-events none

// .kv-cell-atom:hover::before
//   content attr(data-kv-pattern)
//   color #999
//   background-color rgba(200,200,200,1)
//   opacity 1
//   z-index 1
//   font-family monospace

.kv-cell-atom.state-active:not(.state-error)
  background-color #aaa

.kv-cell-atom.state-error
  color #fff
  background-color #E23135

[data-kv-height='0']
  .kv-cell-atom
    min-width 70px
    min-height 70px
    width 70px
    height 70px

[data-kv-height='1']
  .kv-cell-atom
    min-width 50px
    min-height 50px
    width 50px
    height 50px

[data-kv-height='2']
  .kv-cell-atom
    min-width 45px
    min-height 45px
    width 45px
    height 45px

.kv-table-cell-title
  vertical-align middle
  text-align center

.kv-table-cell-title.kv-cell-neg
  visibility hidden

.kv-table-cell-title
  border-color gray
  border-style solid
  border-width 0
  padding 0
  margin 0

.kv-row-top > .kv-table-cell-title
  height 30px
  min-height 30px
  max-height 30px
  border-bottom-width 4px

.kv-row-bottom > .kv-table-cell-title
  height 30px
  border-top-width 4px

.kv-col-right
  width 30px
  min-width 30px
  max-width 30px
  border-left-width 4px

.kv-col-left
  width 30px
  min-width 30px
  max-width 30px
  border-right-width 4px

.kv-cell-container
  padding 0

.kv-loop-padding-top
  margin-top 41px

.kv-loop-padding-bottom
  margin-bottom 41px

.kv-loop-padding-left
  margin-left 41px

.kv-loop-padding-right
  margin-right 41px

[data-kv-height='1']
  .kv-row-top > .kv-table-cell-title,
  .kv-row-bottom > .kv-table-cell-title
    height 25px
    min-height 25px

  .kv-col-right,
  .kv-col-left
    width 25px
    min-width 25px

  .kv-loop
    border-width 5px
    margin 1px

  .kv-loop-edge-top
    border-top-width 3px

  .kv-loop-edge-bottom
    border-bottom-width 3px

  .kv-loop-edge-left
    border-left-width 3px

  .kv-loop-edge-right
    border-right-width 3px

  .kv-loops-container
    position absolute
    left 5px
    right 5px
    top 5px
    bottom 5px
    margin 4px

  .kv-table
    border-spacing 3px

  .kv-loop-padding-top
    margin-top 25px

  .kv-loop-padding-bottom
    margin-bottom 25px

  .kv-loop-padding-left
    margin-left 25px

  .kv-loop-padding-right
    margin-right 25px

