.gate-body
  stroke-width  2
  stroke-linecap butt
  stroke-linejoin round
  stroke-miterlimit 4
  fill #ccc
  stroke #2E63B6

.wire
.gate-port
.gate-input-extension
.gate-body-extra
  stroke-width  2
  stroke-linecap round
  stroke-linejoin round
  stroke-miterlimit 4
  fill none
  stroke #2E63B6
  stroke-location outside

.wire-soder
  fill #2E63B6
  r 3

.gate-input-extension
  stroke-linecap square

