@import '../../../styles/global'


.mode-panel
  position absolute
  left 0
  right 0
  top 0
  margin 7px
  background-color gray
  z-index 1000

.mode-list
  plainlist(true)

.mode-button
  button()
  &.state-active
    font-weight bold
