
.kv-loops-container
  position absolute
  left -4px
  right -4px
  top -4px
  bottom -4px
  margin 5px
  text-align center
  vertical-align middle
  font-size 2em
  font-weight 600
  color rgba(200,0,55,0.4)
  z-index 1
  pointer-events none
  line-height 150px

.kv-loop-single
  position absolute
  border 3px solid grey
  border-radius 8px
  margin 3px

.kv-loop
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  &:nth-child(2n)
    transform translate(3px, -3px)
  &:nth-child(3n)
    transform translate(3px, 3px)
  &:nth-child(4n-1)
    transform translate(-3px, 3px)
  &:nth-child(5n-1)
    transform translate(-3px, -3px)

.style-compact
  .kv-loop
    &:nth-child(2n)
      transform translate(0.5px, -0.5px)
    &:nth-child(3n)
      transform translate(0.5px, 0.5px)
    &:nth-child(4n-1)
      transform translate(-0.5px, 0.5px)
    &:nth-child(5n-1)
      transform translate(-0.5px, -0.5px)

.kv-loop-edge-top
  border-top-left-radius 0
  border-top-right-radius 0
  border-top-style dotted

.kv-loop-edge-bottom
  border-bottom-left-radius 0
  border-bottom-right-radius 0
  border-bottom-style dotted

.kv-loop-edge-left
  border-top-left-radius 0
  border-bottom-left-radius 0
  border-left-style dotted

.kv-loop-edge-right
  border-top-right-radius 0
  border-bottom-right-radius 0
  border-right-style dotted

.kv-loop-padding-top
  margin-top 41px

.kv-loop-padding-bottom
  margin-bottom 41px

.kv-loop-padding-left
  margin-left 41px

.kv-loop-padding-right
  margin-right 41px

.style-compact
  .kv-loop-single
    margin 1px
    border-width 2px
    border-radius 2px

  .kv-loops-container
    left 0
    right 0
    top 0
    bottom 0

  .kv-loop-padding-top
  .kv-loop-padding-bottom
  .kv-loop-padding-left
  .kv-loop-padding-right
    margin 1px

[data-kv-height='1']
  .kv-loop-single
    border-width 2px
    margin 2px

  .kv-loops-container
    left 8px
    right 8px
    top 8px
    bottom 8px
    margin 4px

  .kv-loop-padding-top
    margin-top 25px

  .kv-loop-padding-bottom
    margin-bottom 25px

  .kv-loop-padding-left
    margin-left 25px

  .kv-loop-padding-right
    margin-right 25px

  .style-compact
    .kv-loop-single
      margin 0.5px
      border-width 1px
      border-radius 0
    .kv-loops-container
      left 0
      right 0
      top 0
      bottom 0

    .kv-loop-padding-top
    .kv-loop-padding-bottom
    .kv-loop-padding-left
    .kv-loop-padding-right
      margin 0
