.tree-node
  fill #64C7A2
  stroke #fff
  stroke-width 3px

.tree-edge
  stroke #555

.tree-node-label-outline
  fill #fff
  stroke #fff
  stroke-width 5px
  paint-order stroke
  font-size 20px

.tree-node-label
  fill #111 !important
  font-size 20px

.tree-faded
  &.tree-edge
    stroke #ccc !important
  &.tree-node-label
    fill #ccc !important
  &.tree-node
    fill #ccc !important
