@import '../../../styles/app'

.number-circle
  width 100%
  height auto
  max-height 70%

.number-circle-circumference
  fill color-background-secondary-weak
  opacity 0.5
  stroke color-background-secondary-strong
  stroke-width 5

.number-circle-center
  fill color-foreground-inverse-weak

.number-dot
  cursor pointer
  &.state-selected
    .number-dot-background
      stroke-width 15
      stroke color-focus
    .number-dot-pattern
      fill color-focus

.number-dot-background
  stroke-width 5
  stroke color-background-secondary-strong

.number-dot-label
  color color-foreground-inverse
  font-family font-sans
.number-dot-pattern
  font-family monospace
  color color-foreground-primary

.selection-arc
  stroke color-focus

.arrow-head
  fill color-focus

.overflow-line
  stroke-dasharray 10, 30
  stroke color-foreground-inverse-weak
  stroke-linecap round
  stroke-width 10

.warning-background
  fill #FF6501
  stroke #FF6501
  stroke-width 2

.warning-line
  stroke orange
  stroke-width 10
  stroke-linecap round

.warning-text
  fill #fff
  font-weight bold
