@import '../../../styles/app'

.app
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  background-color #f0f0f0

.fsm-edit-mode-list
  plainlist(true)
  margin space(1) 0 space(1) space(2)
  float left

.fsm-edit-mode-button
  button(
    color-background-inverse,
    color-foreground-inverse
  )
  opacity 0.7
  width 150px
  &.state-active
    cursor default
    opacity 1
    font-weight 600
    color tint(color-background-highlight, 40%)

.fsm-type-list
  plainlist(true)
  clear both
  margin space(1) auto 0
  width 170px

.fsm-type-button
  button(
    #C8C8C8,
    #111
  )
  opacity 0.7
  width 85px
  height 50px
  &.state-active
    cursor default
    opacity 1
    font-weight 600
    background-color #F0F0F0
    color darken(color-background-highlight, 10%)
  &.state-readonly
  &.state-readonly:hover
    margin-left (85px / 2)
    opacity 1
    font-weight 600
    background-color #F0F0F0
    color darken(color-background-highlight, 10%)
