@import '../../../styles/app'

.app
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  background-color #f0f0f0

.fsm-edit-mode-list
  plainlist(true)
  margin space(1) 0 space(1) space(2)
  float left

.fsm-edit-mode-button
  button(
    color-background-inverse,
    color-foreground-inverse
  )
  opacity 0.7
  width 150px
  &.state-active
    cursor default
    opacity 1
    font-weight 600
    color tint(color-background-highlight, 40%)

.fsm-type-list
  plainlist(true)
  clear both
  margin space(1) auto 0
  width 170px

.fsm-type-button
  button(
    #C8C8C8,
    #111
  )
  opacity 0.7
  width 85px
  height 50px
  &.state-active
    cursor default
    opacity 1
    font-weight 600
    background-color #F0F0F0
    color darken(color-background-highlight, 10%)
  &.state-readonly
  &.state-readonly:hover
    margin-left (85px / 2)
    opacity 1
    font-weight 600
    background-color #F0F0F0
    color darken(color-background-highlight, 10%)

.property-panel-overlay
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  background-color rgba(0,0,0,0.4)
  z-index 1000

.property-panel
  position absolute
  top 30%
  right space(1)
  width 100%
  max-width 350px
  margin space(1)
  color #000
  background-color darken(tint(color-focus, 98%), 5%)
  border space(0.5) solid color-focus
  box-shadow 0 0 20px rgba(0,0,0,0.4)
  z-index 10000

  &::after
    content ' '
    position absolute
    left 100%
    margin-left space(0.4)
    margin-top space(-1.5)
    top 50%
    width 0
    height 0
    overflow hidden
    border space(2) solid transparent
    border-top-width space(1.5)
    border-right-width 0
    border-bottom-width space(1.5)
    border-left-color color-focus

.property-panel-close-button
  position absolute
  top space(0.7)
  right space(0.7)
  width space(2)
  height space(2)
  padding 3px
  background none
  border none
  outline none

  .icon-shape
    fill darken(color-focus, 50%)
    transform-origin 50% 50%
    transform scale(0.8)
  &:hover
    .icon-shape
      fill darken(color-focus, 40%)
  &:active
    .icon-shape
      fill darken(color-focus, 60%)
  &:focus
    .icon-shape
      transform scale(0.9)
      stroke-width 5%
      stroke tint(color-focus, 30%)

.property-panel-body
  overflow hidden
  padding space(0.5) space(1) space(1)

.property-panel-title
  margin 0
  padding 0
  font-size font-size-big
  font-weight font-bold
  color darken(color-focus, 50%)

.property-panel-field
  font-size font-size-big
  width 100%
  outline none
  border 2px solid #aaa
  padding space(0.2) space(0.3)

  &.small
    padding 0 space(0.3)

  &:focus
    border-color color-focus

.property-panel-info
  font-weight font-bold
  padding 0 0 space(0.5)

.property-panel-label
  margin-top space(1)
  &::after
    content ':'

.property-panel-list
  plainlist()

.property-panel-list-titel
  margin 0 0 space(0.3)
  padding 0 space(0.5) 0 0
  clear both
  float left
  width 30%
  line-height 2
  text-align right
  text-overflow ellipsis
.property-panel-list-value
  margin 0 0 space(0.3)
  padding 0
  float right
  width 70%
  line-height 2

.property-panel-headline
  display block
  font-weight font-bold
  margin space(1) 0 space(0.3)
  border-bottom 1px solid gray

.property-checkbox-field
  display inline-block
  background-color darken(tint(color-focus, 90%), 10%)
  width 49%
  text-align center
  margin 0 0 0 1%
