@import '../../../styles/global'

.fsm-edit-mode-list
  plainlist(true)

.fsm-edit-mode-button
  button()
  &.state-active
    font-weight bold
    color color-background-highlight

.fsm-type-list
  plainlist(true)

.fsm-type-button
  button()
  &.state-active
    font-weight bold
    color color-background-highlight
