.fsm-block-delta
  fill #434343
.fsm-block-clock
  fill #434343
.fsm-block-lambda
  fill #434343
.fsm-block-label
  font-size 6pt

.arrow-line
  stroke #AFAFAF
  stroke-width 5px
  stroke-linecap square
.arrow-head
  fill #AFAFAF
