@import '../../../styles/global'

.numberButton
  vertical-align middle
  font-size 1.6em
  margin 0
  padding 1px 3px 5px 3px
  font-weight 600
  border-radius 50%
  width 1.3em
  height 1.3em
  line-height 1
  background-color #333
  border none
  color #ccc
  outline none
  box-sizing content-box
  transition background-color 0.3s ease-out, color 0.3s ease-out

.numberButton:disabled
  color #bbb
  background-color #888
  cursor default

.numberButton:enabled:active
  color #aaa
  background-color #222
  transition none

.button-big
  margin-top 2em
  padding 0.7em 1em
  min-width 6em
  font-size 1em
  color #fff
  border none
  background-color #555
  border-radius 10em
  outline none

.button-big:active
  background-color #333


.button-help
  display block
  position absolute
  right 2em
  top 1.2em
  width 3em
  height 3em
  font-size 1em
  color #fff
  border none
  background-color #ccc
  border-radius 10em
  outline none
  text-indent -999px
  direction ltr
  overflow hidden

  &::after
    position absolute
    font-size 2em
    top 0
    left 0
    right 0
    display block
    content '?'
    text-indent 0
    text-align center
    line-height 1.5em

.button-help:active
  background-color #bbb

.help-list
  li
    padding 0.4em 0

.toolbar
  margin 1.5em 0
  text-align center

.inline-list
  list-style none
  padding 0
  margin 1em 0 0.5em

.inline-list > li
  display inline-block
  margin 0 0.2em

.loop-list
  display flex
  align-items center top
  justify-content center
  background-color #333
  color #fff

.toolbar-title
  display inline-block
  padding 1.6em 1em

.toggle-button
  font-family inherit
  color white
  line-height 1
  vertical-align bottom
  border 0
  font-size 1em
  display inline-block
  margin 0.8em 0
  padding 0 1em 0.7em
  background-color #2a2a2a
  text-align center
  position relative
  cursor pointer
  -webkit-appearance none
  outline none

  &:active
    background-color #202020

  .toggle-button-state
    display none
    pointer-events none
    &.state-active
      display block

  &::after
    content 'Mode'
    color #666
    text-align center
    font-size 0.6em
    position absolute
    bottom 0.7em
    left 0
    right 0


.well
  display block
  padding 0
  border-radius 30%
  height 2.5em
  width 2.5em
  line-height 1.5em
  font-size 0.9em
  border 5px solid rgba(45,45,45,1)
  background-color darkgrey
  outline none
  color rgba(30,30,30,0.4)
  text-align center

.well.state-active
  border-color rgba(255,255,255,0)
  box-shadow 0 0 2px rgba(40,40,40,0.5)

.well:active
  background-color darkgrey
  border-color rgba(0,0,0,0.05)

.well-add
  background-color #444
  color #ccc
  font-weight 600
  text-indent -9999px
  overflow hidden
  direction ltr
  position relative

.well-add::before
  left 0
  right 0
  top 0
  bottom 0
  vertical-align middle
  position absolute
  content '+'
  line-height 1.7em
  text-indent 0
  display block
  text-align center

.well-add:active
  background-color #222

.well-delete
  position relative
  top -2.6em
  margin-bottom -1em
  margin-right 1em
  right -1.2em
  font-size 1.2em
  position relative
  width 1.1em
  height 1.1em
  text-indent -999px
  overflow hidden
  direction ltr
  border-radius 500px
  border none
  margin-top 5px
  background-color rgba(20,20,20,1)
  color #aaa
  outline none
  font-weight 600

.well-delete
  display none

.well.state-active + .well-delete
  display block

.well-delete::before
  font-size 0.5em
  position absolute
  top 0
  left -0.1em
  right 0
  top 0
  display block
  text-align center
  vertical-align middle
  text-indent 0
  content 'X'
  line-height 2.2em

.well-delete:active
  background-color rgba(0,0,0,1)
  color #999

.output-list
  display flex
  align-items center top
  justify-content center
  background-color #eee
  color #555
  .toolbar-title
    padding 0.6em 0
  .inline-list
    margin 0.4em


.output-thumbnails
  margin-bottom 2em
  display flex
  align-items center top
  justify-content center
  background-color #eee
  color #555
  .toolbar-title
    padding 0.6em 0
  .inline-list
    margin 0.4em

  .output-thumbnails-item
    overflow visible
    position relative
    display inline-block
    background-color #F9F9F9
    padding 2px
    margin 2px
    cursor pointer
    vertical-align middle
    border 7px solid #eee
    &[data-kv-output] *
      pointer-events none

    &.state-active
      border-color #f9f9f9
      font-weight 600

  .output-thumbnails-label
    display block
    text-align center

.output-thumbnails-add-button
  display inline-block
  width 3em
  height 3em
  background-image url('../../../assets/icons/plus.svg')
  background-size 50% 50%
  background-position center
  background-repeat no-repeat
  border none
  vertical-align middle
  overflow hidden
  text-indent -999px
  background-color #D3D3D3

.output-thumbnails-delete-button
  display block
  opacity 0
  width 20px
  height 20px
  background-color #222
  background-image url('../../../assets/icons/close.svg')
  background-size 50% 50%
  background-position center
  background-repeat no-repeat
  border-radius 50%
  overflow hidden
  text-indent -999px
  direction ltr
  position absolute
  top -(@height/3)
  right -(@width/3)
  z-index 10
  text-overflow clip
  transition opacity 0.2s ease-in, transform 0.2s ease-in
  transform scale(0.1)
  pointer-events all !important

.output-thumbnails:hover
  .output-thumbnails-delete-button
    opacity 1
    transform scale(1.1)
    transition-delay 0.2s

.debug-panel
  height 1em
  margin 0
  text-align center
  font-family monospace
  font-size 1.3em
  color #0099DD

.scroller
  max-width 100%
  overflow scroll

.scoller-inner
  margin-bottom 5em
  display flex
  align-items center
  justify-content center
  min-width min-content
  min-height min-content

.input-count
  padding 0 1em
  font-size 1.3em
  font-weight 600
  line-height 1
  vertical-align middle
  position relative
  margin-bottom 1em

.input-count::after
  position absolute
  top 100%
  left 0
  right 0
  content attr(data-label)
  font-weight normal
  font-size 0.65em
  opacity 0.7

.help-button
  display inline-block
  float right
  margin 0 1em
  padding 0.5em
  font-size 1em
  background-color #ddd
  vertical-align middle
  border none
  outline none

