@import '../../styles/app'

.number-circle-container
  position absolute
  top 0
  bottom 0
  right 0
  left 0

.number-circle-head
  position absolute
  top 0
  right 0
  left 0
  height 20%
  z-index 100
  border-bottom 2px solid color-background-secondary

.number-circle-head-left
  border-right 1px solid color-background-secondary
  position absolute
  right 55%
  bottom 0
  top 0

.number-circle-head-right
  border-left 1px solid color-background-secondary
  position absolute
  left 45%
  bottom 0
  top 0

.number-circle-body
  position absolute
  right 0
  left 0
  bottom 0
  height 80%
  z-index 50

.button-bar
  text-align center
  padding space(1)

.bit-button
  margin space(0.1)
  button(color-background-inverse)

  &:disabled
    opacity 0.8

  .short-label
    display none

.bit-count
  margin-top space(1)
  font-size font-size-big
  text-align center

@media (max-width: 950px)
  .bit-button
    .short-label
      display inline
    .long-label
      display none

  .number-circle-head-left
    right 60%

  .number-circle-head-right
    left 40%
