@import '../../styles/layout'

.number-circle-container
  position absolute
  top 0
  bottom 0
  right 0
  left 0

.number-circle
  width 100%
  height auto
  max-height 70%

.number-dot
  cursor pointer
  &.state-selected
    .number-dot-background
      fill color-focus
    .number-dot-pattern
      fill color-focus

.number-dot-background
  fill color-background-inverse

.number-dot-label
  color color-foreground-inverse
  font-family font-sans
.number-dot-pattern
  font-family monospace
  color color-foreground-primary

.selection-arc
  stroke color-focus

.arrow-head
  fill color-focus

.button-bar
  text-align center
  padding space(1)

.bit-button
  margin space(0.1)
  button(false, color-background-inverse)

  &:disabled
    opacity 0.8

.bit-count
  margin-top space(1)
  font-size font-size-big
  text-align center

.overflow-line
  stroke-dasharray 10, 30
  stroke color-foreground-inverse-weak
  stroke-linecap round
