@import '../../styles/layout'

.number-circle-container
  position absolute
  top 0
  bottom 20%
  right 0
  left 0

.button-bar
  text-align center
  padding space(1)

.bit-button
  margin space(0.1)
  button(color-background-inverse)

  &:disabled
    opacity 0.8

.bit-count
  margin-top space(1)
  font-size font-size-big
  text-align center
