@import '../../styles/global';

#app
  max-width 40em
  margin 10em auto

.tile-grid
  list-style none
  margin 0
  padding 0

.tile-item
  display block
  float left
  width 50%
  padding 5px

.tile-link
  font-size 1.2em
  padding-top 2em
  padding-bottom 2em
  min-height 5em
  color #333
  display block
  background #ccc
  text-align center
  font-weight 600
  border 2px solid transparent

  &:focus
    outline none
    border-color color-focus
  &:hover
    background #c7c7c7
  &:active
    background #c0c0c0

