@import '../../../styles/global'

.graphics-container
  display block
  height 100%
  width 100%
  position absolute
  transform translate3d(0,0,0)

  svg
    height 100%
    width 100%

.graphics-root
  display block
  width 100%
  background-color #ddd

.graphics-background
  fill none

.graphics-origin
  fill: cyan

.graphics-debug
  fill: cyan

.graphics-camera-bounds
  fill #fff
  stroke-width 0

.graphics-grid
  fill none

.graphics-grid-small
  stroke #eee
  stroke-width 0.5

.graphics-grid-large
  stroke #eee
  stroke-width 1

