.graphics-container
  display block

.graphics-root
  display block

.graphics-background
  fill #ddd

.graphics-origin
  fill: cyan

.graphics-debug
  fill: cyan

.graphics-camera-bounds
  fill #fff
  stroke lightgrey
  stroke-width 5px
  stroke-linejoin bevel
  stroke-linecap square
  stroke-dasharray 10,20

