@import '../../../styles/app'

background-color-table = #fff

.table-scroller
  max-width 100%
  overflow auto
  background-color background-color-table

.table-scroller-body
  display box
  display flex
  align-items center
  justify-content center
  min-width min-content
  min-height min-content
  padding space(2) 0
  width 100%

.table
  border-spacing 0
  border-collapse collapse
  margin 10px

.table-head-cell
  white-space pre
  word-wrap none
  padding 10px 30px
  background-color #7F7F7F
  color white
  font-weight normal
  border-right 2px solid background-color-table

.table-head-cell-small
  white-space pre
  word-wrap none
  padding 0 0 5px
  font-size 13px
  color #7F7F7F
  border-bottom 2px solid #5f5f5f
  font-weight normal
  border-right 2px solid background-color-table
  font-weight 600

.table-error-cell
  text-align center
  padding 10px 6px
  background-color tint(red, 95%)
  color darkred
  font-weight bold

.table-body-cell
  padding 4px
  text-align center

.table-colgroup
  border-right 4px solid background-color-table
  border-left 4px solid background-color-table

.table-group-end
  border-right 1px solid #555
  &:last-child
    border-right none

.table-body-cell
  transition background-color 0.1s ease-in-out

.table-body-row
  cursor pointer
  &:hover
    .table-body-cell
      background-color #eee
  &.state-selected
    .table-body-cell
      background-color #ccc
      font-weight bold
