@import '../../../styles/global'

.logic-panel
  margin 10px 20px

.logic-input
  font-size font-size-big
  font-family font-sans
  color color-foreground-primary
  border 1px solid color-background-secondary-strong
  position relative
  max-height 10em
  overflow auto

.logic-language-chooser
  padding 5px 0
  display block

.logic-language-chooser-label
  padding 0 5px

.logic-input-field
  box-sizing border-box
  display block
  font-family inherit
  font-size inherit
  border none
  display block
  max-width 100%
  min-width 100%
  width 100%
  outline none
  resize none
  overflow hidden

.logic-input-field
  padding 5px
  letter-spacing inherit
  white-space pre
  word-wrap break-word
  height 100%
.logic-input-overlay
  word-wrap break-word
  padding 5px
  z-index 1
  letter-spacing inherit
  white-space pre
  font-size inherit
  top 0
  left 0
  right 0
  position absolute
  pointer-events none
  display block
  vertical-align middle
  color transparent


.overlay-text-marker
  display inline
  z-index 100
  color inherit
  padding 0 0 0
  margin 0 -1px
  background rgba(200,200,200,0.2)
  border 1px solid #aaa
  color inherit
  border-radius 3px

.text-marker-error
  background-color rgba(200,0,0,0.2)
  border-color #ffaaaa

.text-marker-warning
  background-color rgba(200,180,0,0.2)
  border-color #fff8aa

.table
  border-spacing 0
  border-collapse collapse
  margin 20px

.table-head-cell
  border-bottom 1px solid black
  white-space pre
  word-wrap none

.table-head-cell
  padding 4px 30px 0

.table-body-cell
  padding 4px
  text-align center

.table-group-end
  border-right 1px solid #555
  &:last-child
    border-right none

.table-body-cell
  transition background-color 0.1s ease-in-out

.table-body-row:hover
  .table-body-cell
    background-color #fafafa
    cursor pointer

.variable-list
  list-style none
  margin 20px
  padding 0
.variable-list > li
  display inline
  &::after
    content ', '
  &:last-child::after
    content ''


.table-scroller
  max-width 100%
  overflow auto

.table-scroller-body
  min-width min-content
  min-height min-content
  padding space(2) 0

.error-box
  margin-top 10px
  padding 10px
  border 2px solid darkred
  background-color tint(red, 90%)

.error-box-title
  margin 0
  padding 0
  font-size 16px
  line-height 1
  display inline

  &::after
    content ': '

.error-body
  display inline
