@import '../../../styles/app'

.led-viewer
  width 100%

.switch-button
  stroke #666
  stroke-width 3px
  fill #ff5555
  cursor pointer

  &.state-enabled
    fill #20f655

  &:hover
    stroke #777

.led
  fill #ff5555
  cursor pointer
  &:active
    fill tint(#ff5555, 20%)

  &.state-enabled
    fill #20f655
    &:active
      fill darken(#20f655, 20%)

  &.state-undefined
    fill #55bbbb
    &:active
      fill darken(#55bbbb, 20%)

  &:hover
    opacity 0.9

.number-field-container
  display block
  margin space(1) auto
  width 40%
  font-size font-size-big
  font-family font-sans

.number-field
  font-size inherit
  font-family inherit
  padding 5px
  margin space(0.5)
  outline none
  width 5em
  border 2px solid #ccc

.led-label
  pointer-events none
