.radio-container
  overflow hidden
  background-color #333333
  padding 2pt
  display inline-block
  font-size 0.8em
  vertical-align top
  margin 2pt

.radio-container-label
  min-height 20pt
  font-size 1em
  display inline-block
  margin 2pt
  padding 4pt 0.8em
  color #ddd
  vertical-align middle

.radio-option
  font-size 1em
  min-height 28pt
  padding 4pt 0.6em
  display inline-block
  background-color #2a2a2a
  color #aaa
  cursor pointer
  margin 1pt
  border 1pt solid transparent
  outline none
  text-align center
  vertical-align middle

  &:disabled
    opacity 0.3
  &:focus
    border-color #32A7F7
  &:hover
    color #ccc
  &:active
    background-color #252525
  &.state-active
    color #fff
    background-color #222
