.radio-container
  overflow hidden
  background-color #333333
  padding 2pt
  display inline-block

.radio-container-label
  display inline-block
  font-size 1em
  padding 0.5em 0.8em 0.5em 0.6em
  color #ddd

.radio-option
  font-size 1em
  padding 0.5em 1em
  display inline-block
  background-color #2a2a2a
  color #aaa
  cursor pointer
  margin 1pt
  border 1pt solid transparent
  outline none
  text-align center

  &:focus
    border-color #32A7F7
  &:hover
    color #ccc
  &:active
    background-color #252525

  &.state-active
    color #fff
    background-color #222
