@import '../../../../styles/layout'

.logic-panel
  overflow hidden
  clear both

.logic-panel-body
  background-color color-background-primary-weak
  padding 5px

.logic-input
  clear both
  font-size font-size-big
  font-family font-sans
  color color-foreground-primary
  border 1px solid color-background-secondary-strong
  position relative
  max-height 10em
  overflow auto

.logic-language-chooser
  padding 5px 0 10px
  display block
  float left

.logic-language-chooser-label
  padding-right 10px
  padding-left 5px
  font-size font-size-default

.logic-input-field
  box-sizing border-box
  display block
  font-family inherit
  font-size inherit
  border none
  display block
  max-width 100%
  min-width 100%
  width 100%
  outline none
  resize none
  overflow hidden

.logic-input-field
  padding 5px
  letter-spacing inherit
  white-space pre
  word-wrap break-word
  line-height 1.4
  height 1.8em
.logic-input-overlay
  word-wrap break-word
  padding 5px
  z-index 1
  letter-spacing inherit
  white-space pre
  font-size inherit
  top 0
  left 0
  right 0
  position absolute
  pointer-events none
  display block
  vertical-align middle
  color transparent


.overlay-text-marker
  display inline
  z-index 100
  color inherit
  padding 0 0 0
  margin 0 -1px
  background rgba(200,200,200,0.2)
  border 1px solid #aaa
  color inherit
  border-radius 3px

.text-marker-error
  background-color rgba(200,0,0,0.2)
  border-color #ffaaaa

.text-marker-warning
  background-color rgba(200,180,0,0.2)
  border-color #fff8aa


.error-box
  margin-top 5px
  padding 10px
  background-color tint(red, 95%)
  color darkred

.error-box-title
  margin 0
  padding 0
  font-size 16px
  line-height 1
  display inline

  &::after
    content ': '

.error-body
  display inline
